* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #191919;
}

.main-box {
  height: 100vh;
  width: 100%;
  background-color: black;
  background-image: url('/img/jeremy-bishop-G9i_plbfDgk-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

nav {
  background-color: #191919;
  height: 70px;
}

#nome h1 {
  color: aliceblue;
  font-size: 35px;
}

#nome h3 {
  color: #5353ff;
  text-shadow: 1px 0.5px;
}

#sobre {
  width: 80%;
  margin: auto; 
  padding: 60px 0;
  background-color: #191919;
  border-radius: 15px;
}

@media (max-width: 600px) {
  #sobre {
      width: 100%;
  }
}

#sobre img {
  height: 200px;
  border-radius: 15%;
  border: 2px solid white;
}

#sobre div h2 {
  color: white;
  padding: 10px 20px;
}

#sobre div p {
  color: white;
  padding: 0px 20px;
}

.contato {
  background-color: rgb(184, 2, 2);
  color: white;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
}