<footer class="d-flex flex-wrap mt-5 bg-dark fixed-bottom justify-content-between align-items-center py-1 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 text-muted text-decoration-none">
      <i class="fas fa-home"></i>
    </a>
    <span class="mb-3 mb-md-0 text-white">© 2024 Portfolio, Itaji de Carvalho</span>
  </div>

  <ul class="nav justify-content-end d-flex me-3">
    <li><a href="https://www.linkedin.com/in/itaji-carvalho/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
    <li class="ms-3"><a href="https://github.com/itaji-create" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
  </ul>
</footer>